/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat; 

@import '_theme';
@import '_variables';

@font-face {
  font-family: 'segoe-ui';
  src: url('assets/fonts/segoe-ui-font/SegoeUI.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'segoe-ui-bold';
  src: url('assets/fonts/segoe-ui-font/SegoeUI-Bold.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'segoe-ui-bold-italic';
  src: url('assets/fonts/segoe-ui-font/SegoeUI-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'segoe-ui-semi-bold';
  src: url('assets/fonts/segoe-ui-font/SegoeUI-SemiBold.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'segoe-ui-light';
  src: url('assets/fonts/segoe-ui-font/SegoeUI-Light.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #F2F6F9
}

button:focus {
  outline: 0;
}

a:focus {
  outline: 0;
}

.container {
  padding: 16px;
}

.flex-spacer,
.fill-remaining {
  flex-grow: 1;
}

.clickable:hover {
  cursor: pointer;
}

.center-text {
  text-align: center;
}

/** Font awesome **/
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-mdc-mini-fab .mat-button-wrapper {
  position: relative;
  bottom: 4px;
}

.section-container {
  margin-bottom: 20px;
  background-color: #ffffff;
}

.section-header {
  padding: 10px 15px;
}

.section-body {
  padding: 0 16px;
}

.header-area {
  min-height: 50px;
}

.section-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: darkblue;
}

.add-new {
  background-color: var(--kujali-color-primary-blue)!important;
  color: white!important;
}

/*
 *  Scrollbar styling
 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(105, 105, 105, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(105, 105, 105, 0.3);
  background-color: #F5F5F5;
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}


::-webkit-scrollbar-thumb {
  background-color: #e2e2e2;
  border: 5px solid #C1C1C1;
  border-radius: 3px;

}

::-webkit-scrollbar:hover {
  width: 10px;
}

/** Responsive tables **/
// Note ***: Table has to include the '.mobile-label'
// class for this to work as it should
.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    margin-left: -24px !important;
  }

  mat-cell {
    max-width: 100% !important;
    align-items: start !important;
  }

  mat-header-row {
    display: none !important;
  }

  mat-row {
    flex-direction: column !important;
    align-items: start !important;
    padding: 20px 5px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
