/* You can add global styles to this file, and also import other style files */
@import '_variables';

@font-face {
  font-family: 'segoe-ui';
  src: url('assets/fonts/segoe-ui-font/SegoeUI.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'segoe-ui-bold';
  src: url('assets/fonts/segoe-ui-font/SegoeUI-Bold.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'segoe-ui-bold-italic';
  src: url('assets/fonts/segoe-ui-font/SegoeUI-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'segoe-ui-semi-bold';
  src: url('assets/fonts/segoe-ui-font/SegoeUI-SemiBold.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'segoe-ui-light';
  src: url('assets/fonts/segoe-ui-font/SegoeUI-Light.woff2') format('woff2'),
        url('assets/fonts/segoe-ui-font/SegoeUI-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}